*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blu:#0084fd;
    --soft-blu:#b5ddff;
    --purple:#9792e4;
    --soft-purple:#c5c2ef;
    --yellow:#fdc15f;
    --bg-footer:#333333;
}

/* utility */

.container{
    max-width: 1200px;
    width: 80%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-4{
    width: calc(100 / 12 * 4);
    
}

.col-6{
    width: calc(100 / 12 * 6);
}

.col-8{
    width: calc(100 / 12 * 8);
    padding: 1rem;
}

.col-12{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.bg-card{   
    background-color: var(--soft-blu);
}
.bg-purple{
    background-color: var(--purple);
}

.bg-white{
    background-color: white;
}

.border-radius-20{
    border-radius: 20px;
}

#site-about{
    padding-top: 0;
    margin-top: 0;
}

.justify-spacebetween{
    justify-content: space-between;
}

.align-item-center{
    align-items: center;
}

.line-height{
    line-height: 1.8rem;
}

.gap{
    gap: 2rem;
}

.text-decoration-none{
    text-decoration: none;
}

.btn{
    text-align: center;
    color: white;
    width: 60%;
    padding: 0.5rem 1.2rem;
    border-radius: 20px;
}

.btn-blu{
    background-color: var(--blu);
}

.align-self-center{
    align-self: center;
}

.justify-center{
    justify-content: center;
}

.color-blu{
    color: var(--blu);
}

.text-center{
    text-align: center ;
}

.description-container{
    display: flex;
    flex-direction: column; 
}

.btn-sm{
    padding: 0.3rem 1rem;
    border-radius: 20px;
}

.btn-white{
    background-color: white;
}

.d-flex-column{
    display: flex;
    flex-direction: column;
}

.gap-4{
    gap: 4rem;
}

.circle-img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    align-self: center;
}

.btn-xs{
    width: 100px;
    text-align: center;
    align-self: center;
    border-radius: 20px;
    padding: 0.3rem 0;
}

.btn-md{
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 0.5rem 0;
    align-self: center;
}

.btn-large{
    color: var(--purple);
    width: 200px;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 30px;
    font-size: large;
    font-weight: bold;

}
/* /utility */

/* header */
.logo, .bars{
    padding: 1rem 0;
}

header{
    background-color: var(--blu);
    height: 70px\;
}

.bars a{
    color: white;
}

.menu{
    display: none;
}

#site-nav{
    margin-bottom: 3rem;
}
/* /header */


/* main */

.info h2{
    color: var(--blu);
}

[class^='col-'] {
    padding: 2rem;
    margin: 1.5rem 0;
}

.planning{
    width: 100%;
    margin-top: 3rem;
    padding: 3rem 0;
}

.plan-title{
    padding: 2rem 0;
}

.planning p, .planning h2{
    color: white;
}

.planning p{
    font-size: small;
}

.dev-title{
    margin: 2rem;
    text-align: center;
}

.circle{
    display: flex;
    margin-top: 1rem;
    width: 60px;
    height: 60px;
    background-color: var(--purple);
    border-radius: 50%;
}

.part-title{
    font-size: xx-large;
    color: var(--purple);
}

#site-about p, #site-about h5{
    color: white;
}

.benefits{
    margin-top: 3rem;
    background-color: var(--purple);
}

.benefits h1, .benefits h3{
    color: var(--soft-purple);
}
.benefits a{
    color: white;
    text-decoration: none;
}

.row>.col-12 h1, .row>.col-12 h3{
    font-size: xx-large;
}

.title-about{
    color: var(--purple);
}

.free{
    background-color: var(--purple);
}

.free>.container>.col-12 h3{
    color: var(--soft-purple);
    font-weight: lighter;
}
.free>.container>.col-12 h2{
    color: white;
    font-size: x-large;
}
.free>.container>.col-12 h1{
    font-size: 50px;
    font-weight: bolder;
    color: var(--yellow);
}
.free>.container>.col-12 p{
    color: white;
}
/* /main */


/* footer */
footer{
    background-color: var(--bg-footer);
    margin-top: -1.5rem;
    padding-top: 3rem;
}

footer p{
    color: white;
}

footer a{
    color: var(--soft-purple);
}


/* media-query for tablet */
@media screen and (min-width: 768px) {

    .container{
        width: 95%;
    }

    .btn{
        padding: 0.5rem 1rem;
    }

    .img{
        padding-top: 12.1rem;
    }
    .col-8-md{
        width: calc(100% / 12 * 8);
        display: flex;
        flex-direction: row;
    }

    .col-8-md-column{
        width: calc(100% / 12 * 8);
        display: flex;
        flex-direction: column;
    }

    .col-4-md{
        width: calc(100% / 12 * 3.7);
    }

    
    .col-6-md h2, .col-6-md p{
        font-size: larger;
    }
    
    #site-about{
        padding-top: 2rem;
        margin-left: -2rem;
        margin-top: 1.5rem;
    }

    #site-about p, #site-about h5{
        padding-top: 3rem;
    }
    
    .free .container{
        width: 50%;
    }

    footer .container{
        width: 50%;
    }


}


/* media-query for desktop */
@media screen and (min-width: 1200px) {

    .container{
        width: 70%;
    }


    .bars{
        display: none;
    }
    
    .menu a{
        color: white; 
        text-decoration: none;
        padding-left: 1rem;
    }

    .menu{
        display: block;
    }

    .img{
        padding-top: 6rem;
    }
    .col-8-md{
        width: calc(100% / 12 * 8);
        display: flex;
        flex-direction: row;
    }
    
    .col-8-md-column{
        width: calc(100% / 12 * 8);
        display: flex;
        flex-direction: column;
    }

    .col-4-md{
        width: calc(100% / 12 * 3.7);
    }
    
    .col-6-md{
    width: calc(100 / 12 * 6);
    }
    
    .width-100{
        width: 100%;
    }

    .d-flex{
        display: flex;
        flex-wrap: nowrap;
    }
    
    .col-6-md h2, .col-6-md p{
        font-size: larger;
    }

    #card-white{
        margin-top: 8rem;
    }

    .plan-title{
        margin-top: 8rem;
    }

    #site-about{
        padding-top: 2rem;
        margin-left: -2rem;
        margin-top: 1.5rem;
    }

    #site-about p, #site-about h5{
        padding-top: 3rem;
    }

    .free .container{
        width: 30%;
    }

    footer .container{
        width: 30%;
    }
}