*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blu:#0084fd;
    --soft-blu:#b5ddff;
    --purple:#9792e4;
    --soft-purple:#c5c2ef;
    --yellow:#fdc15f;
    --bg-footer:#333333;
}

/* utility */

.container{
    max-width: 1200px;
    width: 80%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-4{
    width: calc(100 / 12 * 4);
    
}

.col-6{
    width: calc(100 / 12 * 6);
}

.col-8{
    width: calc(100 / 12 * 8);
    padding: 1rem;
}

.col-12{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--soft-blu);
    border-radius: 20px;
}

.justify-spacebetween{
    justify-content: space-between;
}

.align-item-center{
    align-items: center;
}

.line-height{
    line-height: 1.8rem;
}

.gap{
    gap: 2rem;
}

.text-decoration-none{
    text-decoration: none;
}

.btn{
    text-align: center;
    color: white;
    width: 60%;
    padding: 0.5rem 1.2rem;
    border-radius: 20px;
}

.btn-blu{
    background-color: var(--blu);
}

.align-self-center{
    align-self: center;
}

.justify-center{
    justify-content: center;
}

.color-blu{
    color: var(--blu);
}

.text-center{
    text-align: center ;
}

.description-container{
    display: flex;
    flex-direction: column; 
}

.btn-sm{
    padding: 0.3rem 1rem;
    border-radius: 20px;
}

.btn-white{
    background-color: white;
}
/* /utility */

/* header */
.logo, .bars{
    padding: 1rem 0;
}

header{
    background-color: var(--blu);
    height: 70px\;
}

.bars a{
    color: white;
}

.menu{
    display: none;
}

#site-nav{
    margin-bottom: 3rem;
}
/* /header */


/* main */

.info h2{
    color: var(--blu);
}

[class^='col-'] {
    padding: 2rem;
    margin: 1.5rem 0;
}

/* main */


/* media-query for desktop */
@media screen and (min-width: 1200px) {

    .bars{
        display: none;
    }
    
    .menu a{
        color: white; 
        text-decoration: none;
        padding-left: 1rem;
    }

    .menu{
        display: block;
    }

    .img{
        padding-top: 6rem;
    }
    .col-8-md{
        width: calc(100% / 12 * 8);
        display: flex;
        flex-direction: row;
    }

    .col-4-md{
        width: calc(100% / 12 * 3.7);
    }
}
/* media-query for tablet */
@media screen and (min-width: 768px) {

    .container{
        width: 95%;
    }

    .btn{
        padding: 0.5rem 1rem;
    }

    .img{
        padding-top: 12.1rem;
    }
    .col-8-md{
        width: calc(100% / 12 * 8);
        display: flex;
        flex-direction: row;
    }

    .col-4-md{
        width: calc(100% / 12 * 3.7);
    }
}